h3.title {
  text-align: center;
  margin-top: 40px;
}
#addFoodForm {
  width: fit-content;
  margin: auto;
}
.ant-form {
  width: 350px;
  border: solid 1px#ccc;
  padding: 30px !important;
  display: block;
  margin: 20px auto !important;
}
.ant-form-item-label > label {
  width: 100px;
}
.food-list-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.ant-input-group {
  width: 50% !important;
  margin: 20px auto !important;
}
.hide {
  display: none;
}
.show {
  display: block;
}
#buttonShowForm,
#buttonHideForm {
  margin: 20px;
}
#buttonHideForm {
  margin: 20px auto !important;
}
.empty-list {
  font-weight: bold;
  text-align: center;
}
.empty-list span {
  font-size: 30px;
  display: block;
}
